*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: ; */

}

.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);
}

.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 20%;
    /* transform: translateX(-50%); */
    padding: 10px  20px;
    background: linear-gradient(to top left, #ffffffff, #ffffff33);
    backdrop-filter: blur(8px);
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5;
    /* border: 2px solid #cccc; */
    z-index: 2;

}

 .signup-hearder h1{
    font-size: 2.5rem;
    color: #212121;
}

.signup-hearder p{
    font-size: 09rem;
    color: #555;
  
}

.signup-body{
    margin: 20px o;
}

.signup-body p{
    margin: 10px 0;
}
.signup-body p label{
  display: block;
  font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    font-size: 1rem;
    margin: 4px;
}

.signup-body p input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}

.signup-body p input[type="submit"]:hover{
    background-color: #2773a5;
}

.signup-foooter p{
  color: #555;
  text-align: center;
}

.signup-foooter p a{
    color:#2773a5;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffff33 ,#ffffffff);
    position: absolute;
}

.c1{
    top: 100px;
    left: 40px;
}

.c2{
    bottom: 200px;
    right: 50px;
}